h1 {
    display: flex;
    justify-content: center;
}
h3 {
    display: flex;
    justify-content: center;
}
label {
    display: inline;
    margin-right: .25em;
}

#boxForButton {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
#noteTaker {
    display: flex;
    justify-content: center;
}